## LBB - Faisal Amir Maz

### Extract
Membuat Fungsi persiapan Data

In [4]:
import pandas as pd

In [5]:
loan = pd.read_csv('loan_2014/loan_2014/2014-01-loan.csv')
loan.tail()

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
466280,8598660,2014,01/01/2014,4.0,MORTGAGE,Medium,110000,18400,60 months,INDIVIDUAL,...,High,Good Loan,14.47,C,19.85,10383.360000,5826.00,0.0,432.64,munster
466281,9684700,2014,01/01/2014,10.0,MORTGAGE,Low,78000,22000,60 months,INDIVIDUAL,...,High,Bad Loan,19.97,D,18.45,4677.920000,1837.04,0.0,582.50,leinster
466282,9584776,2014,01/01/2014,7.0,MORTGAGE,Low,46000,20700,60 months,INDIVIDUAL,...,High,Good Loan,16.99,D,25.65,12343.980000,6271.69,0.0,514.34,cannught
466283,9604874,2014,01/01/2014,3.0,OWN,Low,83000,2000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,5.39,2126.579838,2000.00,0.0,62.59,ulster
466284,9199665,2014,01/01/2014,10.0,MORTGAGE,Low,46000,10000,36 months,INDIVIDUAL,...,High,Good Loan,19.20,D,22.78,8821.620000,6015.62,0.0,367.58,ulster

In [6]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15628 entries, 449777 to 466284
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15628 non-null  int64
 1   year               15628 non-null  int64
 2   issue_d            15628 non-null  object
 3   emp_length_int     15628 non-null  float64
 4   home_ownership     15628 non-null  object
 5   income_category    15628 non-null  object
 6   annual_inc         15628 non-null  int64
 7   loan_amount        15628 non-null  int64
 8   term               15628 non-null  object
 9   application_type   15628 non-null  object
 10  purpose            15628 non-null  object
 11  interest_payments  15628 non-null  object
 12  loan_condition     15628 non-null  object
 13  interest_rate      15628 non-null  float64
 14  grade              15628 non-null  object
 15  dti                15628 non-null  float64
 16  total_pymnt        15628 non-null  float64
 17  total_rec_prncp    15628 non-null  float64
 18  recoveries         15628 non-null  float64
 19  installment        15628 non-null  float64
 20  region             15628 non-null  object
dtypes: float64(7), int64(4), object(10)
memory usage: 2.6+ MB

yang perlu diperbaiki:
- issue_d menjadi datetime
- home_ownership menjadi category
- income_category menjadi category
- grade menjadi category
- application_type menjadi category

In [7]:
loan['issue_d'] = pd.to_datetime(loan['issue_d'], dayfirst= True)

In [8]:
loan['home_ownership'] = loan['home_ownership'].astype('category')
loan['income_category'] = loan['income_category'].astype('category')
loan['grade'] = loan['grade'].astype('category')
loan['application_type'] = loan['application_type'].astype('category')

In [9]:
cat_column = ['home_ownership', 'income_category','grade', 'application_type']

In [10]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15628 entries, 449777 to 466284
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15628 non-null  int64
 1   year               15628 non-null  int64
 2   issue_d            15628 non-null  datetime64[ns]
 3   emp_length_int     15628 non-null  float64
 4   home_ownership     15628 non-null  category
 5   income_category    15628 non-null  category
 6   annual_inc         15628 non-null  int64
 7   loan_amount        15628 non-null  int64
 8   term               15628 non-null  object
 9   application_type   15628 non-null  category
 10  purpose            15628 non-null  object
 11  interest_payments  15628 non-null  object
 12  loan_condition     15628 non-null  object
 13  interest_rate      15628 non-null  float64
 14  grade              15628 non-null  category
 15  dti                15628 non-null  float64
 16  total_pymnt        15628 non-null  float64
 17  total_rec_prncp    15628 non-null  float64
 18  recoveries         15628 non-null  float64
 19  installment        15628 non-null  float64
 20  region             15628 non-null  object
dtypes: category(4), datetime64[ns](1), float64(7), int64(4), object(5)
memory usage: 2.2+ MB

### Transform
Membuat fungsi transformasi dan persiapan data

In [11]:
def clean_df(df):
    # date
    df['issue_d'] = pd.to_datetime(df['issue_d'], dayfirst= True)

    # category
    cat_column = ['home_ownership', 'income_category','grade', 'application_type']
    df[cat_column] = df[cat_column].astype('category')
    return df

In [12]:
loan_2 = pd.read_csv('loan_2014/loan_2014/2014-02-loan.csv')
loan_2.head()

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
434787,12527094,2014,01/02/2014,10.0,RENT,Low,39000,10000,60 months,INDIVIDUAL,...,High,Good Loan,15.31,C,20.40,11930.98000,10000.00,0.0,239.53,cannught
434788,12527081,2014,01/02/2014,3.0,MORTGAGE,Medium,112000,10000,60 months,INDIVIDUAL,...,High,Good Loan,14.16,C,6.54,10904.91802,10000.00,0.0,233.52,cannught
434790,12545243,2014,01/02/2014,10.0,MORTGAGE,Low,56000,8000,36 months,INDIVIDUAL,...,Low,Good Loan,11.99,B,11.21,8571.04000,8000.00,0.0,265.68,leinster
434791,12477091,2014,01/02/2014,10.0,MORTGAGE,Low,63000,10000,60 months,INDIVIDUAL,...,High,Good Loan,14.64,C,33.41,12361.10000,10000.00,0.0,236.02,cannught
434792,12507128,2014,01/02/2014,2.0,MORTGAGE,Low,71000,12000,60 months,INDIVIDUAL,...,High,Good Loan,16.59,D,10.01,6503.20000,3308.42,0.0,295.60,cannught

In [13]:
loan_2_clean = clean_df(loan_2)

loan_2_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15269 entries, 434787 to 464030
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15269 non-null  int64
 1   year               15269 non-null  int64
 2   issue_d            15269 non-null  datetime64[ns]
 3   emp_length_int     15269 non-null  float64
 4   home_ownership     15269 non-null  category
 5   income_category    15269 non-null  category
 6   annual_inc         15269 non-null  int64
 7   loan_amount        15269 non-null  int64
 8   term               15269 non-null  object
 9   application_type   15269 non-null  category
 10  purpose            15269 non-null  object
 11  interest_payments  15269 non-null  object
 12  loan_condition     15269 non-null  object
 13  interest_rate      15269 non-null  float64
 14  grade              15269 non-null  category
 15  dti                15269 non-null  float64
 16  total_pymnt        15269 non-null  float64
 17  total_rec_prncp    15269 non-null  float64
 18  recoveries         15269 non-null  float64
 19  installment        15269 non-null  float64
 20  region             15269 non-null  object
dtypes: category(4), datetime64[ns](1), float64(7), int64(4), object(5)
memory usage: 2.2+ MB

### Load
Menambahkan data yang sudah di olah ke dalam database

In [14]:
import sqlite3

In [15]:
database = 'db/loan.db'
conn = sqlite3.connect(database)

In [16]:
loan.to_sql(name = 'loan',
            if_exists = 'append',
            con = conn,
            index = False)

15628

In [17]:
pd.read_sql_query("SELECT * FROM LOAN", conn)

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,11435650,2014,2014-01-01 00:00:00,3.0,MORTGAGE,Medium,104000,32000,36 months,INDIVIDUAL,...,Low,Good Loan,9.67,B,19.36,35981.750000,32000.00,0.0,1027.60,munster
1,11455655,2014,2014-01-01 00:00:00,10.0,MORTGAGE,Low,75000,10000,36 months,INDIVIDUAL,...,High,Good Loan,14.98,C,19.55,7970.880000,5865.19,0.0,346.56,ulster
2,11355380,2014,2014-01-01 00:00:00,5.0,RENT,Low,75000,12000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,26.83,8636.270000,7336.62,0.0,375.49,Northern-Irl
3,10588629,2014,2014-01-01 00:00:00,5.0,MORTGAGE,Low,37000,9600,36 months,INDIVIDUAL,...,Low,Good Loan,12.85,B,23.09,7423.710000,5702.42,0.0,322.77,leinster
4,11365751,2014,2014-01-01 00:00:00,5.0,RENT,Low,36000,10000,60 months,INDIVIDUAL,...,High,Bad Loan,22.90,E,22.90,5145.820000,1922.30,0.0,281.34,leinster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15623,8598660,2014,2014-01-01 00:00:00,4.0,MORTGAGE,Medium,110000,18400,60 months,INDIVIDUAL,...,High,Good Loan,14.47,C,19.85,10383.360000,5826.00,0.0,432.64,munster
15624,9684700,2014,2014-01-01 00:00:00,10.0,MORTGAGE,Low,78000,22000,60 months,INDIVIDUAL,...,High,Bad Loan,19.97,D,18.45,4677.920000,1837.04,0.0,582.50,leinster
15625,9584776,2014,2014-01-01 00:00:00,7.0,MORTGAGE,Low,46000,20700,60 months,INDIVIDUAL,...,High,Good Loan,16.99,D,25.65,12343.980000,6271.69,0.0,514.34,cannught
15626,9604874,2014,2014-01-01 00:00:00,3.0,OWN,Low,83000,2000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,5.39,2126.579838,2000.00,0.0,62.59,ulster
15627,9199665,2014,2014-01-01 00:00:00,10.0,MORTGAGE,Low,46000,10000,36 months,INDIVIDUAL,...,High,Good Loan,19.20,D,22.78,8821.620000,6015.62,0.0,367.58,ulster

In [18]:
# membuat fungsi memasukkan data2 ke db
def df_to_db(df):
    database = 'db/loan.db'
    conn = sqlite3.connect(database)

    df.to_sql(name = 'loan',
              con = conn,
              if_exists = 'append',
              index =  False)

In [19]:
df_to_db(loan_2_clean)

In [20]:
pd.read_sql_query("SELECT * FROM LOAN", conn)

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,11435650,2014,2014-01-01 00:00:00,3.0,MORTGAGE,Medium,104000,32000,36 months,INDIVIDUAL,...,Low,Good Loan,9.67,B,19.36,35981.75,32000.00,0.0,1027.60,munster
1,11455655,2014,2014-01-01 00:00:00,10.0,MORTGAGE,Low,75000,10000,36 months,INDIVIDUAL,...,High,Good Loan,14.98,C,19.55,7970.88,5865.19,0.0,346.56,ulster
2,11355380,2014,2014-01-01 00:00:00,5.0,RENT,Low,75000,12000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,26.83,8636.27,7336.62,0.0,375.49,Northern-Irl
3,10588629,2014,2014-01-01 00:00:00,5.0,MORTGAGE,Low,37000,9600,36 months,INDIVIDUAL,...,Low,Good Loan,12.85,B,23.09,7423.71,5702.42,0.0,322.77,leinster
4,11365751,2014,2014-01-01 00:00:00,5.0,RENT,Low,36000,10000,60 months,INDIVIDUAL,...,High,Bad Loan,22.90,E,22.90,5145.82,1922.30,0.0,281.34,leinster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30892,10088844,2014,2014-02-01 00:00:00,10.0,MORTGAGE,Medium,122000,15000,60 months,INDIVIDUAL,...,High,Bad Loan,17.57,D,11.53,7548.20,3635.72,0.0,377.41,ulster
30893,10131766,2014,2014-02-01 00:00:00,3.0,RENT,Low,15000,1000,36 months,INDIVIDUAL,...,High,Good Loan,19.97,D,23.67,854.45,568.99,0.0,37.15,ulster
30894,10110099,2014,2014-02-01 00:00:00,4.0,MORTGAGE,Medium,144000,15000,36 months,INDIVIDUAL,...,Low,Good Loan,6.62,A,15.78,10592.88,9237.88,0.0,460.56,leinster
30895,10111193,2014,2014-02-01 00:00:00,2.0,MORTGAGE,Low,35000,9000,36 months,INDIVIDUAL,...,High,Good Loan,16.24,C,11.28,7309.99,5238.89,0.0,317.49,ulster
30896,10150824,2014,2014-02-01 00:00:00,1.0,MORTGAGE,Low,52000,6000,36 months,INDIVIDUAL,...,High,Good Loan,19.22,D,7.25,7626.78,6000.00,0.0,220.61,leinster

# Iterasi

In [21]:
import glob

files = glob.glob('loan_2014/loan_2014/*.csv')

files

['loan_2014/loan_2014\\2014-01-loan.csv',
 'loan_2014/loan_2014\\2014-02-loan.csv',
 'loan_2014/loan_2014\\2014-03-loan.csv',
 'loan_2014/loan_2014\\2014-04-loan.csv',
 'loan_2014/loan_2014\\2014-05-loan.csv',
 'loan_2014/loan_2014\\2014-06-loan.csv',
 'loan_2014/loan_2014\\2014-07-loan.csv',
 'loan_2014/loan_2014\\2014-08-loan.csv',
 'loan_2014/loan_2014\\2014-09-loan.csv',
 'loan_2014/loan_2014\\2014-10-loan.csv',
 'loan_2014/loan_2014\\2014-11-loan.csv',
 'loan_2014/loan_2014\\2014-12-loan.csv']

In [22]:
# membaca files[0]
pd.read_csv(files[0])

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
449777,11435650,2014,01/01/2014,3.0,MORTGAGE,Medium,104000,32000,36 months,INDIVIDUAL,...,Low,Good Loan,9.67,B,19.36,35981.750000,32000.00,0.0,1027.60,munster
449799,11455655,2014,01/01/2014,10.0,MORTGAGE,Low,75000,10000,36 months,INDIVIDUAL,...,High,Good Loan,14.98,C,19.55,7970.880000,5865.19,0.0,346.56,ulster
449822,11355380,2014,01/01/2014,5.0,RENT,Low,75000,12000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,26.83,8636.270000,7336.62,0.0,375.49,Northern-Irl
449839,10588629,2014,01/01/2014,5.0,MORTGAGE,Low,37000,9600,36 months,INDIVIDUAL,...,Low,Good Loan,12.85,B,23.09,7423.710000,5702.42,0.0,322.77,leinster
449843,11365751,2014,01/01/2014,5.0,RENT,Low,36000,10000,60 months,INDIVIDUAL,...,High,Bad Loan,22.90,E,22.90,5145.820000,1922.30,0.0,281.34,leinster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,8598660,2014,01/01/2014,4.0,MORTGAGE,Medium,110000,18400,60 months,INDIVIDUAL,...,High,Good Loan,14.47,C,19.85,10383.360000,5826.00,0.0,432.64,munster
466281,9684700,2014,01/01/2014,10.0,MORTGAGE,Low,78000,22000,60 months,INDIVIDUAL,...,High,Bad Loan,19.97,D,18.45,4677.920000,1837.04,0.0,582.50,leinster
466282,9584776,2014,01/01/2014,7.0,MORTGAGE,Low,46000,20700,60 months,INDIVIDUAL,...,High,Good Loan,16.99,D,25.65,12343.980000,6271.69,0.0,514.34,cannught
466283,9604874,2014,01/01/2014,3.0,OWN,Low,83000,2000,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,5.39,2126.579838,2000.00,0.0,62.59,ulster
466284,9199665,2014,01/01/2014,10.0,MORTGAGE,Low,46000,10000,36 months,INDIVIDUAL,...,High,Good Loan,19.20,D,22.78,8821.620000,6015.62,0.0,367.58,ulster

In [23]:
for file in files:
    print(f"file: {file}")

file: loan_2014/loan_2014\2014-01-loan.csv
file: loan_2014/loan_2014\2014-02-loan.csv
file: loan_2014/loan_2014\2014-03-loan.csv
file: loan_2014/loan_2014\2014-04-loan.csv
file: loan_2014/loan_2014\2014-05-loan.csv
file: loan_2014/loan_2014\2014-06-loan.csv
file: loan_2014/loan_2014\2014-07-loan.csv
file: loan_2014/loan_2014\2014-08-loan.csv
file: loan_2014/loan_2014\2014-09-loan.csv
file: loan_2014/loan_2014\2014-10-loan.csv
file: loan_2014/loan_2014\2014-11-loan.csv
file: loan_2014/loan_2014\2014-12-loan.csv

In [24]:
# Membaca keseluruhan dataframe

# membuat list kosong
df_list = []

for file in files:
    # membaca dataframe
    loans = pd.read_csv(file)
    # membersihkan dataframe
    loans_clean = clean_df(loans)
    
    # memasukkan dataframe bersih ke dalam df_list
    df_list.append(loans_clean)

In [25]:
# melihat shape dan juga periode bulan dari setiap dataframe di dalam `df_list`
for df in df_list:
    print(df.shape)
    print(df['issue_d'].dt.to_period('M').unique()[0])

(15628, 21)
2014-01
(15269, 21)
2014-02
(16513, 21)
2014-03
(19071, 21)
2014-04
(19099, 21)
2014-05
(17179, 21)
2014-06
(29306, 21)
2014-07
(18814, 21)
2014-08
(10606, 21)
2014-09
(38782, 21)
2014-10
(25054, 21)
2014-11
(10307, 21)
2014-12

## Melakukan Filtering

In [26]:
# mengambil waktu paling terupdate dari database
last_update = pd.read_sql_query("""
                                SELECT issue_d
                                FROM loan
                                ORDER BY issue_d DESC
                                LIMIT 1
                                """,
                                con = conn)

last_timestamp = last_update['issue_d'].to_string(index=False)

In [27]:
last_timestamp

'2014-02-01 00:00:00'

In [28]:
# melakukan filtering untuk setiap database
df_try = df_list[4]

# melakukan conditional subsetting
df_try[df_try['issue_d'] > last_timestamp]

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
376811,17533102,2014,2014-05-01,10.0,MORTGAGE,Low,39500,3900,36 months,INDIVIDUAL,...,High,Good Loan,19.52,E,20.54,2735.810000,1776.57,0.0,143.99,leinster
376882,17645532,2014,2014-05-01,10.0,MORTGAGE,Low,84350,20000,60 months,INDIVIDUAL,...,High,Good Loan,13.98,C,16.70,8838.040000,4905.54,0.0,465.16,munster
376921,16141868,2014,2014-05-01,9.0,MORTGAGE,Low,76000,22500,36 months,INDIVIDUAL,...,Low,Good Loan,12.49,B,21.73,14755.220000,11347.45,0.0,752.60,cannught
376966,17795521,2014,2014-05-01,3.0,MORTGAGE,High,217000,20000,60 months,INDIVIDUAL,...,High,Good Loan,13.98,C,15.98,22596.950000,20000.00,0.0,465.16,leinster
377022,17685490,2014,2014-05-01,10.0,RENT,Low,75000,12000,60 months,INDIVIDUAL,...,High,Good Loan,24.99,F,22.38,6690.850000,2353.65,0.0,352.15,munster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412224,13927542,2014,2014-05-01,8.0,MORTGAGE,Medium,120000,24000,60 months,INDIVIDUAL,...,High,Good Loan,20.49,E,13.57,12848.400000,5515.22,0.0,642.42,munster
412276,13078155,2014,2014-05-01,9.0,MORTGAGE,Medium,175000,35000,36 months,INDIVIDUAL,...,Low,Bad Loan,12.49,B,21.45,18731.360000,13960.53,0.0,1170.71,munster
412454,13397454,2014,2014-05-01,10.0,RENT,Low,47000,8650,36 months,INDIVIDUAL,...,Low,Good Loan,12.99,B,18.10,8924.462546,8650.00,0.0,291.42,munster
412999,13627899,2014,2014-05-01,1.0,OWN,Medium,110000,30000,36 months,INDIVIDUAL,...,High,Good Loan,15.31,C,31.66,35946.650000,30000.00,0.0,1044.52,ulster
414143,13347000,2014,2014-05-01,10.0,RENT,Low,28000,7325,36 months,INDIVIDUAL,...,High,Good Loan,14.16,C,4.03,5018.600000,3686.17,0.0,250.93,cannught

In [29]:
# di video sampe menit 30an

In [30]:
df_list = []

for file in files:
    # mengambil transaksi terkini dari database
    last_update = pd.read_sql_query("""
                    SELECT issue_d
                    FROM loan
                    ORDER BY issue_d DESC
                    LIMIT 1
                    """, con = conn)
    last_timestamp = last_update['issue_d'].to_string(index=False)

    # membaca dataframe
    loan = pd.read_csv(file)

    # membersihkan dataframe
    loan_clean = clean_df(loan)

    # filtering dataframe
    loan_clean_update = loan_clean[loan_clean['issue_d'] > last_timestamp]

    # jika dataframe terisi, maka masukkan ke dalam df_list
    if loan_clean_update.shape[0] != 0:
        df_list.append(loan_clean_update)

In [31]:
for df in df_list:
    print(df.shape)
    print(df['issue_d'].dt.to_period('M').unique()[0])

(16513, 21)
2014-03
(19071, 21)
2014-04
(19099, 21)
2014-05
(17179, 21)
2014-06
(29306, 21)
2014-07
(18814, 21)
2014-08
(10606, 21)
2014-09
(38782, 21)
2014-10
(25054, 21)
2014-11
(10307, 21)
2014-12

In [32]:
def fetch_clean():
    files = glob.glob('loan_2014/loan_2014/*.csv')

    for file in files:
        # mengambil transaksi terkini dari database
        last_update = pd.read_sql_query("""
                    SELECT issue_d 
                    FROM loan
                    ORDER BY issue_d DESC
                    LIMIT 1
                    """, con = conn)
        last_timestamp = last_update['issue_d'].to_string(index=False)

        # membaca dataframe
        loan = pd.read_csv(file)
        # membersihkan dataframe
        loan_clean = clean_df(loan)

        # filtering dataframe
        loan_clean_update = loan_clean[loan_clean['issue_d'] > last_timestamp]
        
        # jika dataframe terisi, maka masukkan ke dalam df_list
        if loan_clean_update.shape[0] != 0:
            df_list.append(loan_clean_update)
    
    return df_list

In [33]:
# membuat fungsi memasukkan data2 ke db
def df_to_db(df_list):
    database = 'db/loan.db'
    conn = sqlite3.connect(database)

    for df in df_list:
        df.to_sql(name = 'loan',
              con = conn,
              if_exists = 'append',
              index =  False)
        
        periode = df['issue_d'].dt.to_period('M').unique()[0]
        print(f'Berhasil Menambahkan: {periode}')

## Memasukkan Keseluruhan Database

In [34]:
# code here
dfs_read = fetch_clean()

dfs_read[1].head()

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
395980,14157826,2014,2014-04-01,3.0,MORTGAGE,Low,80000,20000,36 months,INDIVIDUAL,...,Low,Good Loan,6.03,A,14.63,12174.40,10664.57,0.0,608.72,ulster
396359,14520689,2014,2014-04-01,10.0,MORTGAGE,Low,56000,8800,36 months,INDIVIDUAL,...,Low,Good Loan,11.99,B,4.93,5845.00,4498.63,0.0,292.25,cannught
396454,15079352,2014,2014-04-01,3.0,RENT,Low,40253,12000,36 months,INDIVIDUAL,...,Low,Good Loan,8.90,A,25.91,7620.80,6271.24,0.0,381.04,leinster
396698,15540028,2014,2014-04-01,8.0,RENT,Low,65000,7500,36 months,INDIVIDUAL,...,Low,Good Loan,7.90,A,10.89,8112.83,7500.00,0.0,234.68,Northern-Irl
396833,15709993,2014,2014-04-01,1.0,OWN,Low,85000,32000,60 months,INDIVIDUAL,...,High,Good Loan,22.45,E,21.90,17840.40,7036.75,0.0,892.02,cannught

In [35]:
dfs_read

[              id  year    issue_d  emp_length_int home_ownership  \
 417824  13316524  2014 2014-03-01           10.00       MORTGAGE
 417825  13326756  2014 2014-03-01            2.00           RENT
 417828  13296789  2014 2014-03-01            5.00       MORTGAGE
 417832  13286705  2014 2014-03-01            1.00           RENT
 417834  13306787  2014 2014-03-01            2.00           RENT
 ...          ...   ...        ...             ...            ...
 447066  11624824  2014 2014-03-01            6.00           RENT
 447190  10955697  2014 2014-03-01            3.00           RENT
 447582  11438488  2014 2014-03-01           10.00       MORTGAGE
 448162  11357761  2014 2014-03-01            9.00           RENT
 448295  11456824  2014 2014-03-01            6.05       MORTGAGE

        income_category  annual_inc  loan_amount        term application_type  \
 417824             Low       40000         9000   36 months       INDIVIDUAL
 417825             Low       50000        12000   36 months       INDIVIDUAL
 417828             Low       60000         3200   36 months       INDIVIDUAL
 417832             Low       50000         6000   36 months       INDIVIDUAL
 417834             Low       40000         1500   36 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 447066             Low       92000        12000   36 months       INDIVIDUAL
 447190             Low       46970         5000   36 months       INDIVIDUAL
 447582             Low       85652        35000   36 months       INDIVIDUAL
 448162             Low       70000        13100   36 months       INDIVIDUAL
 448295          Medium      109000        34000   36 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 417824  ...               Low      Good Loan         10.99      B  18.72
 417825  ...               Low      Good Loan          9.67      B   6.36
 417828  ...              High      Good Loan         23.43      F  29.78
 417832  ...               Low      Good Loan         12.99      B  16.71
 417834  ...              High       Bad Loan         14.64      C  15.54
 ...     ...               ...            ...           ...    ...    ...
 447066  ...              High      Good Loan         16.24      C   7.45
 447190  ...              High      Good Loan         14.98      C  22.36
 447582  ...              High      Good Loan         14.47      C  21.77
 448162  ...               Low      Good Loan         11.99      B  15.68
 448295  ...              High      Good Loan         14.47      C   5.20

          total_pymnt  total_rec_prncp  recoveries  installment        region
 417824   9392.513604          9000.00         0.0       294.61        ulster
 417825   8092.350000          6575.98         0.0       385.35        ulster
 417828   4164.220000          3200.00         0.0       124.59      leinster
 417832   4244.940000          3215.32         0.0       202.14        ulster
 417834      0.000000             0.00         0.0        51.74        ulster
 ...              ...              ...         ...          ...           ...
 447066  13480.050000         12000.00         0.0       423.31  Northern-Irl
 447190   3812.160000          2786.94         0.0       173.28        ulster
 447582  26493.060000         19572.54         0.0      1204.23  Northern-Irl
 448162  14463.280000         13100.00         0.0       435.05  Northern-Irl
 448295  40613.720000         34000.00         0.0      1169.82       munster

 [16513 rows x 21 columns],
               id  year    issue_d  emp_length_int home_ownership  \
 395980  14157826  2014 2014-04-01            3.00       MORTGAGE
 396359  14520689  2014 2014-04-01           10.00       MORTGAGE
 396454  15079352  2014 2014-04-01            3.00           RENT
 396698  15540028  2014 2014-04-01            8.00           RENT
 396833  15709993  2014 2014-04-01            1.00            OWN
 ...          ...   ...        ...             ...            ...
 430486  12515370  2014 2014-04-01            1.00           RENT
 430830  12585586  2014 2014-04-01            1.00           RENT
 431161  12395885  2014 2014-04-01           10.00       MORTGAGE
 432281  11875196  2014 2014-04-01            6.05            OWN
 433080  12525210  2014 2014-04-01            4.00       MORTGAGE

        income_category  annual_inc  loan_amount        term application_type  \
 395980             Low       80000        20000   36 months       INDIVIDUAL
 396359             Low       56000         8800   36 months       INDIVIDUAL
 396454             Low       40253        12000   36 months       INDIVIDUAL
 396698             Low       65000         7500   36 months       INDIVIDUAL
 396833             Low       85000        32000   60 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 430486             Low       57000         4000   36 months       INDIVIDUAL
 430830             Low       60000        24000   36 months       INDIVIDUAL
 431161             Low       80000        11200   36 months       INDIVIDUAL
 432281             Low       18180         7625   36 months       INDIVIDUAL
 433080             Low       70000        12000   60 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 395980  ...               Low      Good Loan          6.03      A  14.63
 396359  ...               Low      Good Loan         11.99      B   4.93
 396454  ...               Low      Good Loan          8.90      A  25.91
 396698  ...               Low      Good Loan          7.90      A  10.89
 396833  ...              High      Good Loan         22.45      E  21.90
 ...     ...               ...            ...           ...    ...    ...
 430486  ...              High      Good Loan         14.64      C   8.63
 430830  ...              High      Good Loan         14.64      C  29.44
 431161  ...               Low      Good Loan          7.90      A  15.96
 432281  ...              High      Good Loan         15.61      C  21.32
 433080  ...              High      Good Loan         13.65      C  17.05

         total_pymnt  total_rec_prncp  recoveries  installment        region
 395980     12174.40         10664.57         0.0       608.72        ulster
 396359      5845.00          4498.63         0.0       292.25      cannught
 396454      7620.80          6271.24         0.0       381.04      leinster
 396698      8112.83          7500.00         0.0       234.68  Northern-Irl
 396833     17840.40          7036.75         0.0       892.02      cannught
 ...             ...              ...         ...          ...           ...
 430486      2897.16          2119.45         0.0       137.96  Northern-Irl
 430830     28530.06         24000.00         0.0       827.75      cannught
 431161      7359.66          6210.27         0.0       350.46        ulster
 432281      5598.81          4013.19         0.0       266.61      leinster
 433080     12136.50         12000.00         0.0       277.05  Northern-Irl

 [19071 rows x 21 columns],
               id  year    issue_d  emp_length_int home_ownership  \
 376811  17533102  2014 2014-05-01            10.0       MORTGAGE
 376882  17645532  2014 2014-05-01            10.0       MORTGAGE
 376921  16141868  2014 2014-05-01             9.0       MORTGAGE
 376966  17795521  2014 2014-05-01             3.0       MORTGAGE
 377022  17685490  2014 2014-05-01            10.0           RENT
 ...          ...   ...        ...             ...            ...
 412224  13927542  2014 2014-05-01             8.0       MORTGAGE
 412276  13078155  2014 2014-05-01             9.0       MORTGAGE
 412454  13397454  2014 2014-05-01            10.0           RENT
 412999  13627899  2014 2014-05-01             1.0            OWN
 414143  13347000  2014 2014-05-01            10.0           RENT

        income_category  annual_inc  loan_amount        term application_type  \
 376811             Low       39500         3900   36 months       INDIVIDUAL
 376882             Low       84350        20000   60 months       INDIVIDUAL
 376921             Low       76000        22500   36 months       INDIVIDUAL
 376966            High      217000        20000   60 months       INDIVIDUAL
 377022             Low       75000        12000   60 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 412224          Medium      120000        24000   60 months       INDIVIDUAL
 412276          Medium      175000        35000   36 months       INDIVIDUAL
 412454             Low       47000         8650   36 months       INDIVIDUAL
 412999          Medium      110000        30000   36 months       INDIVIDUAL
 414143             Low       28000         7325   36 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 376811  ...              High      Good Loan         19.52      E  20.54
 376882  ...              High      Good Loan         13.98      C  16.70
 376921  ...               Low      Good Loan         12.49      B  21.73
 376966  ...              High      Good Loan         13.98      C  15.98
 377022  ...              High      Good Loan         24.99      F  22.38
 ...     ...               ...            ...           ...    ...    ...
 412224  ...              High      Good Loan         20.49      E  13.57
 412276  ...               Low       Bad Loan         12.49      B  21.45
 412454  ...               Low      Good Loan         12.99      B  18.10
 412999  ...              High      Good Loan         15.31      C  31.66
 414143  ...              High      Good Loan         14.16      C   4.03

          total_pymnt  total_rec_prncp  recoveries  installment    region
 376811   2735.810000          1776.57         0.0       143.99  leinster
 376882   8838.040000          4905.54         0.0       465.16   munster
 376921  14755.220000         11347.45         0.0       752.60  cannught
 376966  22596.950000         20000.00         0.0       465.16  leinster
 377022   6690.850000          2353.65         0.0       352.15   munster
 ...              ...              ...         ...          ...       ...
 412224  12848.400000          5515.22         0.0       642.42   munster
 412276  18731.360000         13960.53         0.0      1170.71   munster
 412454   8924.462546          8650.00         0.0       291.42   munster
 412999  35946.650000         30000.00         0.0      1044.52    ulster
 414143   5018.600000          3686.17         0.0       250.93  cannught

 [19099 rows x 21 columns],
               id  year    issue_d  emp_length_int home_ownership  \
 357486  20159237  2014 2014-06-01            8.00           RENT
 358522  20088512  2014 2014-06-01            6.00           RENT
 358560  20158360  2014 2014-06-01            9.00       MORTGAGE
 358564  20138199  2014 2014-06-01            3.00           RENT
 358902  20127968  2014 2014-06-01           10.00       MORTGAGE
 ...          ...   ...        ...             ...            ...
 391787  16181317  2014 2014-06-01            6.05           RENT
 392004  16191269  2014 2014-06-01            6.05            OWN
 392397  16181092  2014 2014-06-01           10.00       MORTGAGE
 392509  16231056  2014 2014-06-01            7.00       MORTGAGE
 393208  15850800  2014 2014-06-01            4.00           RENT

        income_category  annual_inc  loan_amount        term application_type  \
 357486             Low       37000        10000   36 months       INDIVIDUAL
 358522             Low       41000         1400   36 months       INDIVIDUAL
 358560             Low       41000        18000   60 months       INDIVIDUAL
 358564             Low       68900         7000   36 months       INDIVIDUAL
 358902             Low       64000        12000   36 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 391787             Low       32352        12000   36 months       INDIVIDUAL
 392004             Low       32000        10875   36 months       INDIVIDUAL
 392397             Low       48000        18350   36 months       INDIVIDUAL
 392509             Low       85000        15000   60 months       INDIVIDUAL
 393208          Medium      110000        20000   36 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 357486  ...              High      Good Loan         22.15      E  28.51
 358522  ...              High       Bad Loan         18.24      D  26.58
 358560  ...              High      Good Loan         16.29      D  20.61
 358564  ...               Low      Good Loan         12.49      B   6.60
 358902  ...               Low      Good Loan         12.99      C  24.61
 ...     ...               ...            ...           ...    ...    ...
 391787  ...              High      Good Loan         14.49      C  31.60
 392004  ...              High       Bad Loan         23.43      F  17.10
 392397  ...               Low      Good Loan          7.12      A  23.60
 392509  ...              High      Good Loan         18.24      D   1.40
 393208  ...               Low      Good Loan         11.67      B  12.43

         total_pymnt  total_rec_prncp  recoveries  installment        region
 357486      6888.42          4184.49         0.0       382.69        ulster
 358522       260.39            29.51       194.6        50.79  Northern-Irl
 358560      7929.18          3969.36         0.0       440.51      cannught
 358564      4214.70          3174.93         0.0       234.15       munster
 358902     13370.88         12000.00         0.0       404.27        ulster
 ...             ...              ...         ...          ...           ...
 391787      7847.00          5687.26         0.0       413.00  Northern-Irl
 392004      7642.55          4495.04         0.0       423.41       munster
 392397     10784.59          9197.39         0.0       567.61       munster
 392509      7274.53          3381.95         0.0       382.87        ulster
 393208     12561.66          9686.65         0.0       661.14  Northern-Irl

 [17179 rows x 21 columns],
               id  year    issue_d  emp_length_int home_ownership  \
 331093  19607604  2014 2014-07-01           10.00           RENT
 331104  23603509  2014 2014-07-01            3.00           RENT
 331217  23573383  2014 2014-07-01           10.00       MORTGAGE
 331220  23733481  2014 2014-07-01            4.00           RENT
 331255  23593500  2014 2014-07-01            2.00       MORTGAGE
 ...          ...   ...        ...             ...            ...
 373135  18595382  2014 2014-07-01            0.50           RENT
 373196  18495422  2014 2014-07-01            4.00           RENT
 373248  18595280  2014 2014-07-01            1.00           RENT
 374848  18284356  2014 2014-07-01           10.00       MORTGAGE
 375318  15229894  2014 2014-07-01            6.05           RENT

        income_category  annual_inc  loan_amount        term application_type  \
 331093             Low       55000         3000   36 months       INDIVIDUAL
 331104             Low       63000         7800   36 months       INDIVIDUAL
 331217             Low       44000        16000   36 months       INDIVIDUAL
 331220             Low       77000         6000   36 months       INDIVIDUAL
 331255             Low       65780         5000   36 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 373135             Low       50000         6000   36 months       INDIVIDUAL
 373196             Low       29000        10000   36 months       INDIVIDUAL
 373248             Low       71813        24500   36 months       INDIVIDUAL
 374848             Low       50000         2750   36 months       INDIVIDUAL
 375318             Low       43000         5000   36 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 331093  ...              High      Good Loan         14.99      C  23.61
 331104  ...               Low       Bad Loan          7.69      A  15.70
 331217  ...              High      Good Loan         13.35      C  18.52
 331220  ...               Low      Good Loan         11.67      B   8.12
 331255  ...               Low      Good Loan         12.99      C  19.76
 ...     ...               ...            ...           ...    ...    ...
 373135  ...              High      Good Loan         18.99      E  15.70
 373196  ...               Low      Good Loan         11.67      B  26.70
 373248  ...               Low      Good Loan         10.15      B  21.96
 374848  ...              High      Good Loan         17.57      D  12.00
 375318  ...               Low      Good Loan         11.67      B   6.64

         total_pymnt  total_rec_prncp  recoveries  installment        region
 331093      1767.83          1251.13         0.0       103.99      cannught
 331104      3892.96          3246.41         0.0       243.31  Northern-Irl
 331217      9210.77          6767.06         0.0       541.81      leinster
 331220      3371.95          2574.48         0.0       198.35       munster
 331255      2863.65          2121.30         0.0       168.45      cannught
 ...             ...              ...         ...          ...           ...
 373135      3987.20          2578.95         0.0       219.91        ulster
 373196      5967.16          4565.60         0.0       330.57      cannught
 373248     14261.04         11323.31         0.0       792.28      leinster
 374848      1778.94          1196.21         0.0        98.83  Northern-Irl
 375318      2975.22          2282.90         0.0       165.29  Northern-Irl

 [29306 rows x 21 columns],
               id  year    issue_d  emp_length_int home_ownership  \
 313401  26228431  2014 2014-08-01             3.0       MORTGAGE
 313474  26308415  2014 2014-08-01            10.0           RENT
 313535  26218405  2014 2014-08-01            10.0       MORTGAGE
 313573  26188399  2014 2014-08-01            10.0           RENT
 313580  26238455  2014 2014-08-01             3.0            OWN
 ...          ...   ...        ...             ...            ...
 350329  14638026  2014 2014-08-01             6.0       MORTGAGE
 350584  20811066  2014 2014-08-01             5.0           RENT
 350811  20800978  2014 2014-08-01             4.0       MORTGAGE
 351290  20799811  2014 2014-08-01             2.0           RENT
 351655  20479455  2014 2014-08-01             5.0           RENT

        income_category  annual_inc  loan_amount        term application_type  \
 313401          Medium      120000        17000   36 months       INDIVIDUAL
 313474             Low       40000         7000   36 months       INDIVIDUAL
 313535          Medium      125000        18000   36 months       INDIVIDUAL
 313573          Medium      110000         3000   36 months       INDIVIDUAL
 313580          Medium      115200         7500   36 months       INDIVIDUAL
 ...                ...         ...          ...         ...              ...
 350329             Low       65000        10000   36 months       INDIVIDUAL
 350584          Medium      105000         9975   36 months       INDIVIDUAL
 350811             Low       70000        16850   36 months       INDIVIDUAL
 351290             Low       50000        23900   60 months       INDIVIDUAL
 351655             Low       65000        14475   36 months       INDIVIDUAL

         ... interest_payments loan_condition interest_rate  grade    dti  \
 313401  ...              High      Good Loan         14.99      C  11.91
 313474  ...              High       Bad Loan         18.24      D  21.06
 313535  ...               Low      Good Loan         10.99      B  12.57
 313573  ...               Low      Good Loan         11.67      B  15.12

In [36]:
# memasukkan ke daatbase (df_to_db)
df_to_db(dfs_read)

Berhasil Menambahkan: 2014-03
Berhasil Menambahkan: 2014-04
Berhasil Menambahkan: 2014-05
Berhasil Menambahkan: 2014-06
Berhasil Menambahkan: 2014-07
Berhasil Menambahkan: 2014-08
Berhasil Menambahkan: 2014-09
Berhasil Menambahkan: 2014-10
Berhasil Menambahkan: 2014-11
Berhasil Menambahkan: 2014-12
Berhasil Menambahkan: 2014-03
Berhasil Menambahkan: 2014-04
Berhasil Menambahkan: 2014-05
Berhasil Menambahkan: 2014-06
Berhasil Menambahkan: 2014-07
Berhasil Menambahkan: 2014-08
Berhasil Menambahkan: 2014-09
Berhasil Menambahkan: 2014-10
Berhasil Menambahkan: 2014-11
Berhasil Menambahkan: 2014-12

In [37]:
files

['loan_2014/loan_2014\\2014-01-loan.csv',
 'loan_2014/loan_2014\\2014-02-loan.csv',
 'loan_2014/loan_2014\\2014-03-loan.csv',
 'loan_2014/loan_2014\\2014-04-loan.csv',
 'loan_2014/loan_2014\\2014-05-loan.csv',
 'loan_2014/loan_2014\\2014-06-loan.csv',
 'loan_2014/loan_2014\\2014-07-loan.csv',
 'loan_2014/loan_2014\\2014-08-loan.csv',
 'loan_2014/loan_2014\\2014-09-loan.csv',
 'loan_2014/loan_2014\\2014-10-loan.csv',
 'loan_2014/loan_2014\\2014-11-loan.csv',
 'loan_2014/loan_2014\\2014-12-loan.csv']

In [38]:
loan.head(3)

,id,year,issue_d,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,...,interest_payments,loan_condition,interest_rate,grade,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
230657,38098114,2014,2014-12-01,10.0,RENT,Low,78000,15000,60 months,INDIVIDUAL,...,Low,Good Loan,12.39,C,12.03,4028.00,2309.40,0.0,336.64,leinster
230658,36805548,2014,2014-12-01,8.0,MORTGAGE,Low,58000,10400,36 months,INDIVIDUAL,...,Low,Good Loan,6.99,A,14.92,3842.86,3228.12,0.0,321.08,ulster
230659,37822187,2014,2014-12-01,10.0,RENT,Low,69000,9600,36 months,INDIVIDUAL,...,High,Good Loan,13.66,C,25.81,9973.43,9600.00,0.0,326.53,Northern-Irl

# Pembuatan Report

In [39]:
pd.crosstab(index = loan['application_type'],
            columns = 'Jumlah Pinjaman')

col_0             Jumlah Pinjaman
application_type
INDIVIDUAL                  10307

In [40]:
condtion_on_loan = pd.crosstab(index = loan['loan_condition'],
            columns = 'Jumlah Pinjaman').sort_values(by = 'Jumlah Pinjaman')

condtion_on_loan

col_0           Jumlah Pinjaman
loan_condition
Bad Loan                    681
Good Loan                  9626

In [41]:
interest_class = pd.crosstab(index = loan['interest_payments'],
            columns = 'Kelas Bunga').sort_values(by = 'Kelas Bunga')

interest_class

col_0              Kelas Bunga
interest_payments
High                      4216
Low                       6091

In [42]:
total_loan = pd.crosstab(index = loan['loan_condition'],
            columns = 'Total Loan',
            values = loan['loan_amount'],
            aggfunc = 'sum'
            ).sort_values(by = 'Total Loan')
total_loan

col_0           Total Loan
loan_condition
Bad Loan          10670800
Good Loan        147720775

In [43]:
# sampe menit 59.50
# FUngsi generate report

with pd.ExcelWriter('report/2014_loan.xlsx') as writer:
    condtion_on_loan.to_excel(writer, sheet_name='Loan Condition')
    total_loan.to_excel(writer, sheet_name= 'Total Loan by Condition')

In [44]:
def report_generator(df_list):
    for df in df_list:
        # Mengambil periode bulan, untuk nama file
        periode = df['issue_d'].dt.to_period('M').unique()[0]

        # menghitung jumlah pinjaman berdasar kondisi
        condtion_on_loan = pd.crosstab(index = df['loan_condition'],
            columns = 'Jumlah Pinjaman').sort_values(by = 'Jumlah Pinjaman')
        
        # menghitung total pinjaman
        total_loan = pd.crosstab(index = df['loan_condition'],
            columns = 'Total Loan',
            values = df['loan_amount'],
            aggfunc = 'sum'
            ).sort_values(by = 'Total Loan')
        
        # menyimpan ke dalam file excel
        with pd.ExcelWriter(f'report/{periode}.xlsx') as writer:
            condtion_on_loan.to_excel(writer, sheet_name = 'Frekuensi Kondisi Pinjaman')
            total_loan.to_excel(writer, sheet_name = 'Total Pinjaman')
            print(f"Berhasil membuat report: report/{periode}.xlsx")

In [45]:
report_generator(dfs_read)

Berhasil membuat report: report/2014-03.xlsx
Berhasil membuat report: report/2014-04.xlsx
Berhasil membuat report: report/2014-05.xlsx
Berhasil membuat report: report/2014-06.xlsx
Berhasil membuat report: report/2014-07.xlsx
Berhasil membuat report: report/2014-08.xlsx
Berhasil membuat report: report/2014-09.xlsx
Berhasil membuat report: report/2014-10.xlsx
Berhasil membuat report: report/2014-11.xlsx
Berhasil membuat report: report/2014-12.xlsx
Berhasil membuat report: report/2014-03.xlsx
Berhasil membuat report: report/2014-04.xlsx
Berhasil membuat report: report/2014-05.xlsx
Berhasil membuat report: report/2014-06.xlsx
Berhasil membuat report: report/2014-07.xlsx
Berhasil membuat report: report/2014-08.xlsx
Berhasil membuat report: report/2014-09.xlsx
Berhasil membuat report: report/2014-10.xlsx
Berhasil membuat report: report/2014-11.xlsx
Berhasil membuat report: report/2014-12.xlsx